<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Analyser</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*<link rel="stylesheet" href="~/Content/cssgabriel.css" />*@
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="navbar-nav">
            <div class="nav-item active">
                <a class="nav-link" id="menu-toggle" href="@Url.Action("TelaInicial", "TelaInicial")"><h3>Test Analyser</h3></a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active" id="1">
                    <a class="nav-link" href="@Url.Action("ConsultarProvaAl", "ConsultarProvaAl")">Consultar Provas</a>
                </li>
                <li class="nav-item active" id="2">
                    <a class="nav-link" href="@Url.Action("ConsultarProvaPr", "ConsultarProvaPr")">Consultar Provas</a>
                </li>
                <li class="nav-item active" id="3">
                    <a class="nav-link" href="@Url.Action("GerarProva", "GerarProva")">Gerar Prova</a>
                </li>
                <li class="nav-item active" id="4">
                    <a class="nav-link" href="@Url.Action("CadastrarQuestoes", "CadastrarQuestoes")">Cadastrar Questões</a>
                </li>
                <li class="nav-item active" id="5">
                    <a class="nav-link" href="@Url.Action("ConsultarQuestoes", "ConsultarQuestoes")">Consultar Questões</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto" >
                <li class="nav-item active" id="6"><a class="nav-link" href="@Url.Action("Configuracoes", "Configuracoes")"><span class="glyphicon glyphicon-cog"></span>  Configurações </a></li>
                <li class="nav-item active">
                    <a id="usermenu" class="nav-link">
                        <span class="glyphicon glyphicon-user "></span> &nbsp; @((Session["NomeUsuario"])) - 
                    </a>
                </li>
                <li class="nav-item active"><a class="nav-link" href="@Url.Action("Login", "Login")"><span class="glyphicon glyphicon-log-out "></span> Sair </a></li>
            </ul>

        </div>
    </nav>

    <div class="container" style="background-color:aliceblue">
        <br />
        <br />
        @RenderBody()
        <hr />

    </div>
    <script>

        window.load = verifica_na();

        //colocar na sessão se o usuario é aluno ou professor e dar hide nos botões... (por algum motivo de satã esse modelo não funciona aqui)
        function verifica_na() {
            if (@((Session["NivelAcesso"])) == 1)
            {
                document.getElementById("2").style.visibility = "hidden";
                document.getElementById("3").style.visibility = "hidden";
                document.getElementById("4").style.visibility = "hidden";
                document.getElementById("5").style.visibility = "hidden";
                document.getElementById("6").style.visibility = "hidden";
            } else if (@((Session["NivelAcesso"])) == 2) {
                document.getElementById("1").style.visibility = "hidden";
                document.getElementById("6").style.visibility = "hidden";
            } else {
                document.getElementById("1").style.visibility = "hidden";
                document.getElementById("2").style.visibility = "hidden";
                document.getElementById("3").style.visibility = "hidden";
                document.getElementById("4").style.visibility = "hidden";
                document.getElementById("5").style.visibility = "hidden";
            }
        }

    </script>


</body>
</html>
