@model TestAnalyser.Model.Prova
@using TestAnalyser.Model;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Editar Simples Escolha";
    var count = 1;
    var cq = 1;
}

<script src="ckeditor/ckeditor.js"></script>
<div id="divSE" class="">
    <h5>Tipo: Simples-Escolha</h5>
    <br />
    <form class="form-horizontal" name="form1" id="form" method="post" action="@Url.Action("SalvarProva", "ConsultarProvaAl")">
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 1).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6>Questão @count</h6>
                </div>

            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    <label for="EnunciadoSE">Enunciado</label>
                    @Html.TextArea("Enunciado", x.Questao.Enunciado, new { @class = "form-control", @id = "EnunciadoSE", @readonly = "True" })
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for="">Alternativas:</label>
                </div>
            </div>
            <br />
            <div id="DivAlternativas">
                @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                {
                    <div class="form-row">
                        @Html.RadioButton("AlternativaId" + "SE" + count, x.Questao.Alternativas[i].AlternativaId)
                        <label for="">@(i+1)) </label>
                        @Html.EditorFor(model => x.Questao.Alternativas[i].DescAlternativa, null, "DescAlternativa", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                    </div>
                }
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        <br />
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 2).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6>Questão @count</h6>
                </div>
                @*<div class="form-row">
                      <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary btn-sm">Salvar</button>
                </div>*@
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    <label for="EnunciadoME">Enunciado</label>
                    @Html.TextArea("Enunciado", x.Questao.Enunciado, new { @class = "form-control", @id = "EnunciadoME", @readonly = "True" })
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <br />
            <div id="Divopcoes">
                @for (int i = 0; i < x.Questao.Opcoes.Count; i++)
                {
                    <div class="form-row">
                        @Html.Hidden("OpcaoId", x.Questao.Opcoes[i].OpcaoId)
                        <label for="">@(i+1)) </label>
                        @Html.EditorFor(model => x.Questao.Opcoes[i].descricao, null, "descricao", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                    </div>
                }
            </div>
            <br />
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for="">Alternativas:</label>
                </div>
            </div>
            <br />
            <div id="DivAlternativas">
                @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                {
                    <div class="form-row">
                        @Html.CheckBox("AlternativaId" + "ME" + count, x.Questao.Alternativas[i].AlternativaId)
                        <label for="">@(i+1)) </label>
                        @Html.EditorFor(model => x.Questao.Alternativas[i].DescAlternativa, null, "DescAlternativa", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                    </div>
                }
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        <br />
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 3).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6>Questão @count</h6>
                </div>
                @*<div class="form-row">
                      <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary btn-sm">Salvar</button>
                </div>*@
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    <label for="EnunciadoSE">Enunciado</label>
                    @Html.TextArea("Enunciado", x.Questao.Enunciado, new { @class = "form-control", @id = "EnunciadoVF", @readonly = "True" })
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <br />
            <div id="Divopcoes">
                @for (int i = 0; i < x.Questao.Opcoes.Count; i++)
                {
                    <div class="form-row">
                        @Html.Hidden("OpcaoId", x.Questao.Opcoes[i].OpcaoId)
                        <label for="">@(i+1)) </label>
                        @Html.EditorFor(model => x.Questao.Opcoes[i].descricao, null, "descricao", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                    </div>
                }
            </div>
            <br />
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for="">Alternativas:</label>
                </div>
            </div>
            <br />
            <div id="DivAlternativas">
                @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                {
                    <div class="form-row">
                        @Html.RadioButton("AlternativaId" + "VF" + count, x.Questao.Alternativas[i].AlternativaId)
                        <label for="">@(i+1)) </label>
                        @Html.EditorFor(model => x.Questao.Alternativas[i].DescAlternativa, null, "DescAlternativa", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                    </div>
                }
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 4).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6>Questão @count</h6>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    <label for="EnunciadoSE">Enunciado</label>
                    @Html.TextArea("Enunciado", x.Questao.Enunciado, new { @class = "form-control", @id = "EnunciadoDT", @readonly = "True" })
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for="">Resposta:</label>
                </div>
            </div>
            <br />
            <div id="DivRespostaDT">
                @Html.TextArea("Enunciado", null, new { @class = "form-control", @id = "RespostaDiscursiva" })
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        <div class="form-row">
            <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </div>
    </form>
</div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({ selector: 'textarea#EnunciadoDT', width: 500 });
    tinymce.init({ selector: 'textarea#EnunciadoVF', width: 500 });
    tinymce.init({ selector: 'textarea#EnunciadoME', width: 500 });
    tinymce.init({ selector: 'textarea#EnunciadoSE', width: 500 });
</script>
