@model TestAnalyser.Model.Prova
@using TestAnalyser.Model;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Editar Simples Escolha";
    var count = 1;
    var provaID = Model.ProvaId;
}

<div id="divSE" class="">
    <form class="form-horizontal" name="form1" id="form" method="post" action="@Url.Action("SalvarProva", "ConsultarProvaAl")">
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 1).ToList())
        {
            <div id="qust" class="form-row">
                <div class="col-md-2">
                    <h6><b>Questão @count</b></h6>
                </div>
                <div id="salvandoSE" style="display: none;">Salvando...</div>
                <div id="OKSE" style="display: none;"><b>Salvo</b></div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    @Html.Raw(x.Questao.Enunciado)
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for=""><b>Alternativas:</b></label>
                </div>
            </div>
            <div id="DivAlternativas">
                @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                {
                    <div class="form-row" id="AlternativaId">
                        @Html.RadioButton("AlternativaId" + "SE" + count, x.Questao.Alternativas[i].AlternativaId)
                        <label for="">@(i+1)) </label>
                        @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                        @Html.Hidden("QuestaoIdSE", x.Questao.QuestaoId, new { @class = "QuestaoIdSE", @id = "QuestaoIdSE" })
                    </div>
                }
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        <br />
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 2).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6><b>Questão @count</b></h6>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    @Html.Raw(x.Questao.Enunciado)
                </div>
            </div>
            <br />
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            @*<div id="Divopcoes">
                    @for (int i = 0; i < x.Questao.Opcoes.Count; i++)
                    {
                        <div class="form-row">
                            @Html.Hidden("OpcaoId", x.Questao.Opcoes[i].OpcaoId)
                            <label for="">@(i+1)) </label>
                            @Html.EditorFor(model => x.Questao.Opcoes[i].descricao, null, "descricao", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                        </div>
                    }
                </div>
                <br />
                <br />*@
            <div class="form-row">
                <div class="col-md-3">
                    <label for=""><b>Alternativas:</b></label>
                </div>
            </div>
            <div id="DivAlternativas">
                @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                {
                    <div class="form-row">
                        @Html.CheckBox("AlternativaId" + "ME" + count, x.Questao.Alternativas[i].AlternativaId)
                        <label for="">@(i+1)) </label>
                        @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                    </div>
                }
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        <br />
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 3).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6><b>Questão @count</b></h6>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    @Html.Raw(x.Questao.Enunciado)
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <br />
            @*<div id="Divopcoes">
                    @for (int i = 0; i < x.Questao.Opcoes.Count; i++)
                    {
                        <div class="form-row">
                            @Html.Hidden("OpcaoId", x.Questao.Opcoes[i].OpcaoId)
                            <label for="">@(i+1)) </label>
                            @Html.EditorFor(model => x.Questao.Opcoes[i].descricao, null, "descricao", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                        </div>
                    }
                </div>
                <br />
                <br />*@
            <div class="form-row">
                <div class="col-md-3">
                    <label for=""><b>Alternativas:</b></label>
                </div>
            </div>
            <div id="DivAlternativas">
                @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                {
                    <div class="form-row">
                        @Html.CheckBox("AlternativaId" + "VF" + count, x.Questao.Alternativas[i].AlternativaId)
                        <label for="">@(i+1))</label>
                        @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                    </div>
                }
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 4).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6><b>Questão @count</b></h6>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    @Html.Raw(x.Questao.Enunciado)
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for=""><b>Resposta:</b></label>
                </div>
            </div>
            <div id="DivRespostaDT">
                @Html.TextArea("Resposta", null, new { @class = "form-control", @id = "RespostaDiscursiva", style = "max-width: 50%" })
                @Html.Hidden("QuestaoIdDS", x.Questao.QuestaoId, new { @class = "QuestaoIdDS", @id = "QuestaoIdDS" })
            </div>
            <div id="salvandoDS" hidden>Salvando...</div>
            <br />
            <script>@(count = count + 1) </script>
        }
        <div class="form-row">
            <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    window.load = AutoSaveQuestao();
    function AutoSaveQuestao() {
        $("#AlternativaId input[name^='AlternativaIdSE']").focusout(function () {

            //$(this).css("background-color", "#00a000");
            var AltID = this.value;
            var QustID = $(this).closest(".form-row").find("#QuestaoIdSE").val();
            var ProvID = "@provaID";

            console.log(AltID + " " + QustID + " " + ProvID);

            $.ajax({
                type: "POST",
                url:'/ConsultarProvaAl/SalvarQuestaoSE',
                data: { QuestaoID: QustID, ProvaID: ProvID, AlternativaID: AltID },
                success: function (data) {
                }, beforeSend: function () {
                    //$("#qust #OKSE").hide();
                    //$("#qust #salvandoSE").show();
                }, complete: function () {
                    //$("#qust #OKSE").show();
                    //$("#qust #salvandoSE").hide();
                }
            });
        });

        @*$("#AlternativaId input[name^='AlternativaIdMEVF']").focusout(function () {

            var AltID = this.value;
            var QustID = $(this).closest(".form-row").find("#QuestaoIdMEVF").val();
            var ProvID = "@provaID";

            console.log(AltID + " " + QustID + " " + ProvID);

            $.ajax({
                type: "POST",
                url:'/ConsultarProvaAl/SalvarQuestaoMEVF',
                data: { QuestaoID: QustID, ProvaID: ProvID, AlternativaID: AltID },
                success: function (data) {
                }, beforeSend: function () {
                    //$("#qust #OKSE").hide();
                    //$("#qust #salvandoSE").show();
                }, complete: function () {
                    //$("#qust #OKSE").show();
                    //$("#qust #salvandoSE").hide();
                }
            });
        });*@

        $("#DivRespostaDT textarea[name^='Resposta']").focusout(function () {

            var Resp = this.value;
            var QustID = $(this).closest("#DivRespostaDT").find("#QuestaoIdDS").val();
            var ProvID = "@provaID";

            console.log(Resp + " " + QustID + " " + ProvID);

            $.ajax({
                type: "POST",
                url:'/ConsultarProvaAl/SalvarQuestaoDS',
                data: { QuestaoID: QustID, ProvaID: ProvID, Resposta: Resp },
                success: function (data) {
                }, beforeSend: function () {
                    //$("#qust #OKDS").hide();
                    //$("#qust #salvandoDS").show();
                }, complete: function () {
                    //$("#qust #OKDS").show();
                    //$("#qust #salvandoDS").hide();
                }
            });
        });
    }


</script>
