@model TestAnalyser.Model.Prova
@using TestAnalyser.Model;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Editar Simples Escolha";
    var count = 1;
    var provaID = Model.ProvaId;
}

<div id="divSE" class="">
    <h5>Tipo: Simples-Escolha</h5>
    <br />
    <form class="form-horizontal" name="form1" id="form" method="post" action="@Url.Action("SalvarProva", "ConsultarProvaAl")">
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 1).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6><b>Questão @count</b></h6>
                </div>

            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    @Html.Raw(x.Questao.Enunciado)
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for=""><b>Alternativas:</b></label>
                </div>
            </div>
            <div id="DivAlternativas">
                @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                {
                    <div class="form-row" id="AlternativaId">
                        @Html.RadioButton("AlternativaId" + "SE" + count, x.Questao.Alternativas[i].AlternativaId)
                        <label for="">@(i+1)) </label>
                        @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                        @Html.Hidden("QuestaoIdSE", x.Questao.QuestaoId, new { @class = "QuestaoIdSE", @id = "QuestaoIdSE" })
                    </div>
                }
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        <br />
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 2).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6><b>Questão @count</b></h6>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    @Html.Raw(x.Questao.Enunciado)
                </div>
            </div>
            <br />
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            @*<div id="Divopcoes">
                @for (int i = 0; i < x.Questao.Opcoes.Count; i++)
                {
                    <div class="form-row">
                        @Html.Hidden("OpcaoId", x.Questao.Opcoes[i].OpcaoId)
                        <label for="">@(i+1)) </label>
                        @Html.EditorFor(model => x.Questao.Opcoes[i].descricao, null, "descricao", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                    </div>
                }
            </div>
            <br />
            <br />*@
            <div class="form-row">
                <div class="col-md-3">
                    <label for=""><b>Alternativas:</b></label>
                </div>
            </div>
            <div id="DivAlternativas">
                @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                {
                    <div class="form-row">
                        @Html.CheckBox("AlternativaId" + "ME" + count, x.Questao.Alternativas[i].AlternativaId)
                        <label for="">@(i+1)) </label>
                        @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                    </div>
                }
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        <br />
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 3).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6><b>Questão @count</b></h6>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    @Html.Raw(x.Questao.Enunciado)
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <br />
            @*<div id="Divopcoes">
                @for (int i = 0; i < x.Questao.Opcoes.Count; i++)
                {
                    <div class="form-row">
                        @Html.Hidden("OpcaoId", x.Questao.Opcoes[i].OpcaoId)
                        <label for="">@(i+1)) </label>
                        @Html.EditorFor(model => x.Questao.Opcoes[i].descricao, null, "descricao", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                    </div>
                }
            </div>
            <br />
            <br />*@
            <div class="form-row">
                <div class="col-md-3">
                    <label for=""><b>Alternativas:</b></label>
                </div>
            </div>
            <div id="DivAlternativas">
                @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                {
                    <div class="form-row">
                        @Html.CheckBox("AlternativaId" + "VF" + count, x.Questao.Alternativas[i].AlternativaId)
                        <label for="">@(i+1))</label>
                        @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                    </div>
                }
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 4).ToList())
        {
            <div class="form-row">
                <div class="col-md-4">
                    <h6><b>Questão @count</b></h6>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    @Html.Raw(x.Questao.Enunciado)
                </div>
            </div>
            <div class="col-md-2">
                @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
            </div>
            <br />
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for=""><b>Resposta:</b></label>
                </div>
            </div>
            <div id="DivRespostaDT">
                @Html.TextArea("Resposta", null, new { @class = "form-control", @id = "RespostaDiscursiva", style = "max-width: 50%" })
            </div>
            <br />
            <script>@(count = count + 1) </script>
        }
        <div class="form-row">
            <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    window.load = AutoSaveQuestao();
    function AutoSaveQuestao() {
        jQuery("#AlternativaId input[name^='AlternativaIdSE']").focusout(function () {
            //$(this).css("background-color", "#00a000");
            var AltID = this.value;
            var QustID = ("#AlternativaId .QuestaoIdSE").value;
            //var QustID = jQuery("this #QuestaoIdSE").value;
            //var QustID = $("input[name^='AlternativaIdSE'] #QuestaoIdSE").value();

            //jQuery("input[name^='AlternativaIdSE']

            console.log(AltID + " " + QustID);
        });
        

        //$.ajax({
        //    type: "POST",
        //    url: "/ConsultarProvaAl/SalvarProva",
        //    contentType: "application/json",
        //    data: QuestaoID, ProvaID: ProvaID, AlternativaID,
        //    success: function (data) {
        //        $.each(data, function (index, value) {
        //            $('<option>').text(value).appendTo("#idAssuntoProva");
        //            $('.selectpicker').selectpicker('refresh');
        //        })
        //    }
        //});
    }
    

</script>
