@model TestAnalyser.Model.Prova
@using TestAnalyser.Model;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Realizar Prova";
    var count = 1;
    var provaID = Model.ProvaId;
}

    <div id="divGeral" class="">
        <form class="form-horizontal" name="form1" id="form" @*method="post" action="@Url.Action("SalvarProva", "ConsultarProvaAl")"*@>
            @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 1).ToList())
            {
                <div id="qust" class="form-row">
                    <div class="col-md-2">
                        <h6><b>Questão @count</b></h6>
                    </div>
                    @*<div id="salvandoSE" style="display: none;">Salvando...</div>
                    <div id="OKSE" style="display: none;"><b>Salvo</b></div>*@
                </div>
                <br />
                <div class="form-row">
                    <div class="col-md-8">
                        @Html.Raw(x.Questao.Enunciado)
                    </div>
                </div>
                <div class="col-md-2">
                    @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
                </div>
                <br />
                <div class="form-row">
                    <div class="col-md-3">
                        <label for=""><b>Alternativas:</b></label>
                    </div>
                </div>
                <div id="DivAlternativas">
                    @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                    {
                        <div class="form-row" id="AlternativaId">
                            @Html.RadioButton("AlternativaId" + "SE" + count, x.Questao.Alternativas[i].AlternativaId)
                            <label for="">@(i+1)) </label>
                            @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                            @Html.Hidden("QuestaoIdSE", x.Questao.QuestaoId, new { @class = "QuestaoIdSE", @id = "QuestaoIdSE" })
                        </div>
                    }
                </div>
                <br />
                <script>@(count = count + 1) </script>
            }
            <br />
            @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 2).ToList())
            {
                <div class="form-row">
                    <div class="col-md-4">
                        <h6><b>Questão @count</b></h6>
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="col-md-8">
                        @Html.Raw(x.Questao.Enunciado)
                    </div>
                </div>
                <br />
                <div class="col-md-2">
                    @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                    @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
                </div>
                @*<div id="Divopcoes">
                    @for (int i = 0; i < x.Questao.Opcoes.Count; i++)
                    {
                        <div class="form-row">
                            @Html.Hidden("OpcaoId", x.Questao.Opcoes[i].OpcaoId)
                            <label for="">@(i+1)) </label>
                            @Html.EditorFor(model => x.Questao.Opcoes[i].descricao, null, "descricao", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                        </div>
                    }
                </div>
                <br />
                <br />*@
                <div class="form-row">
                    <div class="col-md-3">
                        <label for=""><b>Alternativas:</b></label>
                    </div>
                </div>
                <div id="DivAlternativas">
                    @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                    {
                        <div class="form-row" id="AlternativaIdME">
                            @Html.CheckBox("AlternativaId" + "ME" + count, new { @value = x.Questao.Alternativas[i].AlternativaId })
                            <label for="">@(i+1)) </label>
                            @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                            @Html.Hidden("QuestaoIdME", x.Questao.QuestaoId, new { @class = "QuestaoIdME", @id = "QuestaoIdME" })
                        </div>
                    }
                </div>
                <br />
                <script>@(count = count + 1) </script>
            }
            <br />
            @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 3).ToList())
            {
                <div class="form-row">
                    <div class="col-md-4">
                        <h6><b>Questão @count</b></h6>
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="col-md-8">
                        @Html.Raw(x.Questao.Enunciado)
                    </div>
                </div>
                <div class="col-md-2">
                    @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                    @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
                </div>
                <br />
                <br />
                @*<div id="Divopcoes">
                    @for (int i = 0; i < x.Questao.Opcoes.Count; i++)
                    {
                        <div class="form-row">
                            @Html.Hidden("OpcaoId", x.Questao.Opcoes[i].OpcaoId)
                            <label for="">@(i+1)) </label>
                            @Html.EditorFor(model => x.Questao.Opcoes[i].descricao, null, "descricao", new { htmlAttributes = new { @class = "form-control col-md-6", @readonly = "True" } })
                        </div>
                    }
                </div>
                <br />
                <br />*@
                <div class="form-row">
                    <div class="col-md-3">
                        <label for=""><b>Alternativas:</b></label>
                    </div>
                </div>
                <div id="DivAlternativas">
                    @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                    {
                        <div class="form-row" id="AlternativaIdVF">
                            @Html.CheckBox("AlternativaId" + "VF" + count, new { @value = x.Questao.Alternativas[i].AlternativaId })
                            <label for="">@(i+1))</label>
                            @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                            @Html.Hidden("QuestaoIdVF", x.Questao.QuestaoId, new { @class = "QuestaoIdVF", @id = "QuestaoIdVF" })
                        </div>
                    }
                </div>
                <br />
                <script>@(count = count + 1) </script>
            }
            @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 4).ToList())
            {
                <div class="form-row">
                    <div class="col-md-4">
                        <h6><b>Questão @count</b></h6>
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="col-md-8">
                        @Html.Raw(x.Questao.Enunciado)
                    </div>
                </div>
                <div class="col-md-2">
                    @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="col-md-3">
                        <label for=""><b>Resposta:</b></label>
                    </div>
                </div>
                <div id="DivRespostaDT">
                    @Html.TextArea("Resposta", null, new { @class = "form-control", @id = "RespostaDiscursiva", style = "max-width: 50%" })
                    @Html.Hidden("QuestaoIdDS", x.Questao.QuestaoId, new { @class = "QuestaoIdDS", @id = "QuestaoIdDS" })
                </div>
                <div id="salvandoDS" hidden>Salvando...</div>
                <br />
                <script>@(count = count + 1) </script>
            }
        </form>
        <button id="btnFinalizar" witdh="50" title="FinalizarProva" class="btn btn-primary btn-sm" onclick="FinalizarProva()">Finalizar</button>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    window.load = AutoSaveQuestao();
    function AutoSaveQuestao() {
        var arrME = new Array();
        var arrVF = new Array();
        $("#AlternativaId input[name^='AlternativaIdSE']").focusout(function () {

            var AltID = this.value;
            var QustID = $(this).closest(".form-row").find("#QuestaoIdSE").val();
            var ProvID = "@provaID";

            //console.log(AltID + " " + QustID + " " + ProvID);

            $.ajax({
                type: "POST",
                url:'/ConsultarProvaAl/SalvarQuestaoSE',
                data: { QuestaoID: QustID, ProvaID: ProvID, AlternativaID: AltID },
                success: function (data) {
                }, beforeSend: function () {
                    //$("#qust #OKSE").hide();
                    //$("#qust #salvandoSE").show();
                }, complete: function () {
                    //$("#qust #OKSE").show();
                    //$("#qust #salvandoSE").hide();
                }
            });
        });

        $("#AlternativaIdME input[name^='AlternativaIdME']").focusout(function () {

            $(this).each(function () {
                var ID = $(this).val();
                var index = arrME.findIndex(i => i == ID);

                if (index == -1) {
                    arrME.push(parseInt(ID));
                } else {
                    arrME.splice(index, 1);
                }
            });

            var QustID = $(this).closest(".form-row").find("#QuestaoIdME").val();
            var ProvID = "@provaID";

            //console.log(arrME + " " + QustID + " " + ProvID);

            $.ajax({
                type: "POST",
                url:'/ConsultarProvaAl/SalvarQuestaoMEVF',
                data: { QuestaoID: QustID, ProvaID: ProvID, AlternativaID: arrME },
                success: function (data) {
                }, beforeSend: function () {
                    //$("#qust #OKSE").hide();
                    //$("#qust #salvandoSE").show();
                }, complete: function () {
                    //$("#qust #OKSE").show();
                    //$("#qust #salvandoSE").hide();
                }
            });
        });

        $("#AlternativaIdVF input[name^='AlternativaIdVF']").focusout(function () {

            $(this).each(function () {
                var ID = $(this).val();
                var index = arrVF.findIndex(i => i == ID);

                if (index == -1) {
                    arrVF.push(parseInt(ID));
                } else {
                    arrVF.splice(index, 1);
                }
            });

            var QustID = $(this).closest(".form-row").find("#QuestaoIdVF").val();
            var ProvID = "@provaID";

            //console.log(arrVF + " " + QustID + " " + ProvID);

            $.ajax({
                type: "POST",
                url:'/ConsultarProvaAl/SalvarQuestaoMEVF',
                data: { QuestaoID: QustID, ProvaID: ProvID, AlternativaID: arrVF },
                success: function (data) {
                }, beforeSend: function () {
                    //$("#qust #OKSE").hide();
                    //$("#qust #salvandoSE").show();
                }, complete: function () {
                    //$("#qust #OKSE").show();
                    //$("#qust #salvandoSE").hide();
                }
            });
        });

        $("#DivRespostaDT textarea[name^='Resposta']").focusout(function () {

            var Resp = this.value;
            var QustID = $(this).closest("#DivRespostaDT").find("#QuestaoIdDS").val();
            var ProvID = "@provaID";

            //console.log(Resp + " " + QustID + " " + ProvID);

            $.ajax({
                type: "POST",
                url:'/ConsultarProvaAl/SalvarQuestaoDS',
                data: { QuestaoID: QustID, ProvaID: ProvID, Resposta: Resp },
                success: function (data) {
                }, beforeSend: function () {
                    //$("#qust #OKDS").hide();
                    //$("#qust #salvandoDS").show();
                }, complete: function () {
                    //$("#qust #OKDS").show();
                    //$("#qust #salvandoDS").hide();
                }
            });
        });
    }

    function FinalizarProva() {
        var ProvID = "@provaID";
        var arrIDs = new Array();

        var r = confirm("Confirma que respondeu todas as questões e deseja Finalizar?");
        if (r == true) {

            $("#divGeral input[name^='AlternativaId']").each(function () {

                if (this.checked == true) {
                    var ID = $(this).val();
                    if (ID != "false") {
                        arrIDs.push(parseInt(ID));
                    }
                }
            });

            $.ajax({
                type: "POST",
                url: "/ConsultarProvaAl/SalvarTodasAlternativas",
                data: { ProvaID: ProvID, AlternativasID: arrIDs },
                success: function (data) {
                }
            });
            window.location.href = "/ConsultarProvaAl/FinalizarProva";
        }
    }

</script>
