@{
    ViewBag.Title = "AdicionarQuestoes";
}
@using TestAnalyser.Model
@model TestAnalyser.Model.Prova

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@{ 
    var count = 0;
}

<div class="col-md-10 row">
    <h2>Verificar e Modificar Questões da Prova  &emsp;&emsp;  </h2>
    <button witdh="50" title="Regerar Questões" class="btn btn-primary glyphicon glyphicon-refresh" onclick="TrocarQuestao()">Re-Gerar</button>
    <input id="btnVoltar" value="Cancelar" onclick="VoltarPagina()" type="button" class="btn btn-default" />
</div>
<br />
<form name="form1" id="formCadSE" method="post" action="@Url.Action("SalvarProvaQuestoes", "GerarProva")">
    @{
        foreach (var item in @Model.NotasQuestoes)
        {
            string teste = " ";
            if (item.Questao.TipoQuestao == 1)
            {
                teste = "<b>Questão "+ (count + 1) +": Simples Escolha</b>";
            }
            if (item.Questao.TipoQuestao == 2)
            {
                teste = "<b>Questão " + (count + 1) + ": Multipla Escolha</b>";
            }
            if (item.Questao.TipoQuestao == 3)
            {
                teste = "<b>Questão " + (count + 1) + ": Verdadeiro ou Falso</b>";
            }
            if (item.Questao.TipoQuestao == 4)
            {
                teste = "<b>Questão " + (count + 1) + ": Discursiva</b>";
            }

            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-8">

                        @Html.Raw(@teste)

                        <input class="form-control" type="hidden" id="NotaQ" name="idquestao" value="@item.Questao.QuestaoId" required />

                    </div>
                    <br />
                    <br />
                    <div class="col-md-8">

                        @Html.Raw(item.Questao.Enunciado)

                        <input class="form-control" type="hidden" id="NotaQ" name="idquestao" value="@item.Questao.QuestaoId" required />
                    </div>

                    <div class="col-md-1">
                        <h6>Nota: </h6>
                        <input class="form-control" type="number" id="NotaQ" name="notas" value="@item.ValorQuestao" required />
                    </div>

                </div>
            </div>
            <script>@(count = count + 1) </script>
        }
    }
    <br />
    <div class="row">
        <div class="col-md-2">
            <label>Total Questões: @count</label>
            <button witdh="50" title="Confirmar prova" type="submit" class="btn btn-primary">Confirmar Prova</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <label>Total Nota:</label>
            <input class="form-control" type="number" id="NotaTotal" required />
        </div>
    </div>
    @*<br />
        <div class="col-md-12">
            <button witdh="50" title="Confirmar prova" type="submit" class="btn btn-primary">Confirmar Prova</button>
        </div>*@
</form>

<script>
    function TrocarQuestao() {

        $.ajax({

            type: "GET",

            url: "/GerarProva/RegerarQuestoes",

            contentType: "application/json",

            success: function (data) {
            }

        });
        location.reload();
    }

    function VoltarPagina() {

        $.ajax({

            type: "GET",

            url: "/GerarProva/Voltar",


            success: function (data) {
                window.location.href = "/GerarProva/GerarProva";

            }


        });

        location.reload();

    }


</script>
