@{
    ViewBag.Title = "AdicionarQuestoes";
}
@using TestAnalyser.Model
@model TestAnalyser.Model.Prova

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h2>Verificar e Modificar Questões da Prova</h2>
<br />
<form name="form1" id="formCadSE" method="post" action="@Url.Action("SalvarProvaQuestoes", "GerarProva")">
    @{
        foreach (var item in @Model.NotasQuestoes)
        {<div class="col-md-12">
                <div class="row">
                        <div class="col-md-8">

                        @Html.Raw(item.Questao.Enunciado)

                        <input class="form-control" type="hidden" id="NotaQ" name="idquestao" value="@item.Questao.QuestaoId" />
                        </div>

                    <div class="col-md-1">
                        <h6>Nota: </h6>
                        <input class="form-control" type="number" id="NotaQ" name="notas" value="@item.ValorQuestao" />
                    </div>
                </div>
            </div>
        }
    }

    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <label>Total:</label>
            <input class="form-control" type="number" id="NotaTotal" />
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <button witdh="50" title="Confirmar prova" type="submit" class="btn btn-primary">Confirmar Prova</button>
    </div>
</form>
<div class="col-md-1">
    <br />
    <button witdh="50" title="Regerar Questões" class="btn btn-primary glyphicon glyphicon-refresh" onclick="TrocarQuestao()">Trocar</button>
</div>


<script>
    function TrocarQuestao() {

        $.ajax({

            type: "GET",

            url: "/GerarProva/RegerarQuestoes",

            contentType: "application/json",

            success: function (data) {
            }

        });
        location.reload();
    }


</script>
