@{
    ViewBag.Title = "AdicionarQuestoes";
}
@using TestAnalyser.Model
@model TestAnalyser.Model.Prova

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h2>Verificar e Modificar Questões da Prova</h2>
<br />
<form name="form1" id="formCadSE" method="post" action="@Url.Action("SalvarProvaQuestoes", "GerarProva")">
    @{
        foreach (var item in @Model.NotasQuestoes)
        {
            string teste = " ";
            if (item.Questao.TipoQuestao == 1)
            {
                teste = "<b>Questão: Simples Escolha</b>";
            }
            if (item.Questao.TipoQuestao == 2)
            {
                teste = "<b>Questão: Multipla Escolha</b>";
            }
            if (item.Questao.TipoQuestao == 3)
            {
                teste = "<b>Questão: Verdadeiro ou Falso</b>";
            }

            if (item.Questao.TipoQuestao == 4)
            {
                teste = "<b>Questão: Discursiva</b>";
            }

            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-8">

                        @Html.Raw(@teste)

                        <input class="form-control" type="hidden" id="NotaQ" name="idquestao" value="@item.Questao.QuestaoId" required />

                    </div>
                    <br />
                    <br />
                    <div class="col-md-8">

                        @Html.Raw(item.Questao.Enunciado)

                        <input class="form-control" type="hidden" id="NotaQ" name="idquestao" value="@item.Questao.QuestaoId" required />
                    </div>

                    <div class="col-md-1">
                        <h6>Nota: </h6>
                        <input class="form-control" type="number" id="NotaQ" name="notas" value="@item.ValorQuestao" required />
                    </div>

                </div>
            </div>
        }
    }

    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <label>Total:</label>
            <input class="form-control" type="number" id="NotaTotal" required />
        </div>
    </div>
    <div class="col-md-1">
        <br />
        <button witdh="50" title="Regerar Questões" class="btn btn-primary glyphicon glyphicon-refresh" onclick="TrocarQuestao()">Trocar</button>
        <input id="btnVoltar" value="Voltar" onclick="VoltarPagina()" type="button" class="btn btn-default" />
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <button witdh="50" title="Confirmar prova" type="submit" class="btn btn-primary">Confirmar Prova</button>
    </div>
</form>



<script>
    function TrocarQuestao() {

        $.ajax({

            type: "GET",

            url: "/GerarProva/RegerarQuestoes",

            contentType: "application/json",

            success: function (data) {
            }

        });
        location.reload();
    }

    function VoltarPagina() {

        $.ajax({

            type: "GET",

            url: "/GerarProva/Voltar",


            success: function (data) {
                window.location.href = "/GerarProva/GerarProva";

            }


        });

        location.reload();

    }


</script>
