<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
@model TestAnalyser.Model.Prova

@{
    ViewBag.Title = "GerarProva";

}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

</head>
<h2>Gerar Prova</h2>
<br />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="form1" id="formCadSE" method="post" action="@Url.Action("SalvarProva", "GerarProva")">
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="TituloProva">Titulo da prova</label>
                        @Html.TextBoxFor(model => model.TituloProva, new { @class = "form-control", @placeholder = "Digite o Titulo" })
                    </div>

                    <div class="form-group col-md-6">

                        <div class="row">
                            <div class="col-md-4"><label for="DataProva">Data da Prova</label></div>
                            <div class="col-md-4"><label for="DataProva">Hora - Inicio</label></div>
                            <div class="col-md-4"><label for="DataProva">Hora - Final</label></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" id="DataProva" type="date">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="HoraProvaInicio" type="time">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="HoraProvaFinal" type="time" name="HoraFim">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="NotaMax">Nota máxima</label>
                        <input class="form-control " id="NotaMax" type="number">
                    </div>

                    <div class="form-group col">
                        <label for="DisciplinaProva">Disciplina</label>
                        <select class="form-control" id="idDisciplina" name="Disciplinas" size="1">
                            <option> </option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>

                    <div class="form-group col">
                        <label for="TurmaProva">Turma</label>
                        <select class="form-control" id="Turmas" name="Turmas" size="1">
                            <option>Selecione</option>
                            <option>Turma1</option>
                            <option>Turma2</option>
                        </select>

                    </div>
                    <div class="form-group col">
                        <label class="form-check-label" for="gridCheck">
                            Assunto da Prova
                        </label>

                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="form-group col-md-6" id="selectpicker_id">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <label class="form-check-label" for="gridCheck">
                                Assunto da Prova
                            </label>
                        </div>
                        <br>
                        <div class="form-group col-md-6" id="mydiv">


                            <select class="selectpicker" multiple name="Assuntos" id="idAssuntoProva" style="width:250px;" tabindex="2">
                                <option> </option>

                            </select>

                        </div>

                    </div>


                    <div class="form-group col-md-6">

                        <div class="row">
                            <div class="col">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="gridCheck">
                                                Tipo das Questões
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-1">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label class="form-check-label" for="gridCheck">Simples escolha</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" id="IdQtSimplesEscolha" type="number" value="@Model.QtSimplesEscolha">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label class="form-check-label" for="gridCheck">
                                                    Multipla escolha
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" id="IdQtMultiplaEscolha" type="number" value="@Model.QtMultiplaEscolha">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label class="form-check-label" for="gridCheck">
                                                    Verdadeira ou falso
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" id="IdQtVerdadeirFalso" type="number" value="@Model.QtVerdadeirFalso">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                        </div>
                                        <div class="col">
                                            <div class="form-check">

                                                <label class="form-check-label" for="gridCheck">
                                                    Dissertativa
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" id="IdQtDissertativa" type="number" value="@Model.QtDissertativa">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="form-group col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-md-6 offset-md-4">
                                <label class="form-check-label" for="gridCheck">
                                    Configuração da faixa de correto/incorreto:
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="Incorreto">Incorreto</label>

                                <div class="row">
                                    <div class="col-md-5">
                                        <input class="form-control" id="Incorreto1" type="text" value="0">
                                    </div>
                                    à
                                    <div class="col-md-5">
                                        <input class="form-control" id="Incorreto2" type="text" value="35">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="Revisar">Revisar</label>

                                <div class="row">
                                    <div class="col-md-5">
                                        <input class="form-control" id="Revisar1" type="text" value="36">
                                    </div>
                                    à
                                    <div class="col-md-5">
                                        <input class="form-control" id="Revisar2" type="text" value="70">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="Correto">Correto</label>

                                <div class="row">
                                    <div class="col-md-5">
                                        <input class="form-control" id="Correto1" type="text" value="71">
                                    </div>
                                    à
                                    <div class="col-md-5">
                                        <input class="form-control" id="Correto2" type="text" value="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="btnConfirmar" type="submit" value="Criar" class="btn btn-default" />
            </form>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


@*https://www.c-sharpcorner.com/UploadFile/4b0136/working-with-dropdownlist-in-mvc-5/*@

<script>
    $('.selectpicker').selectpicker();

    function AdicionarQuestoesNaProva() {
        location.href = "https://localhost:44310/GerarProva/AdicionarQuestoesNaProva";

        var val = $('.selectpicker').val();
        $("#selectpicker_id .selectpicker").val();
    }

    function Salvarselectpicker() {

        var val = $('.selectpicker').val();

    }

</script>

<script>
    $('.selectpicker').selectpicker();

    $(document).ready(function () {
        $("#idDisciplina").on("change", function () {

            var val = $('#idDisciplina').val();
            var Paramters = "{id:'" + val + "'}";

            $.ajax({

                type: "POST",

                url: "/GerarProva/BuscarAssunto",

                contentType: "application/json",

                data: Paramters,

                success: function (data) {

                    $.each(data, function (index, value) {
                        $('<option>').text(value).appendTo("#idAssuntoProva");
                        $('.selectpicker').selectpicker('refresh');
                    })
                }

            });
        });

    });

</script>
