<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
@model TestAnalyser.Model.Prova

@{
    ViewBag.Title = "Gerar Prova";

}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

</head>
<h2>Gerar Prova</h2>
<br />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if (TempData["$ProvaGerada$"] != null)
            {
                <div id="alerta" style="color: red; text-align: center;">@TempData["$ProvaGerada$"]</div>
            }
            <form name="form1" id="formCadSE" method="post" action="@Url.Action("CadastrarQuestoesProva", "GerarProva")">
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="TituloProva">Titulo da prova</label>
                        @Html.TextBoxFor(model => model.TituloProva, new { @class = "form-control", @placeholder = "Digite o Titulo" })
                    </div>

                    <div class="form-group col-md-6" style="text-align: center;">

                        <div class="row" style="justify-content: center;">
                            <div class="col-md-4"><label for="DataProvaInicio">Data inicio da Prova</label></div>
                            <div class="col-md-4"><label for="HoraProvaInicio">Hora - Inicio</label></div>

                        </div>

                        <div class="row" style="justify-content: center;">
                            <div class="col-md-4">
                                <input class="form-control" id="DataProvaInicio" type="date" name="DataProvaInicio" required>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="HoraProvaInicio" type="time" name="HoraInicio" required>
                            </div>
                        </div>

                        <div class="row" style="justify-content: center;">
                            <div class="col-md-4"><label for="DataProvaFim">Data fim da Prova</label></div>
                            <div class="col-md-4"><label for="HoraProvaFim">Hora - Final</label></div>
                        </div>

                        <div class="row" style="justify-content: center;">
                            <div class="col-md-4">
                                <input class="form-control" id="DataProvaFim" type="date" name="DataProvaFim" required>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="HoraProvaFinal" type="time" name="HoraFim" required>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="NotaMax">Nota máxima</label>
                        <input class="form-control " id="NotaMax" type="number" name="ValorProva" required>
                    </div>
                    @*<div class="form-group col">
                            <label for="NotaMax">tentativas</label>
                            <input class="form-control " id="QtTentativa" type="number" name="QtTentativas" required>
                        </div>*@
                    <div class="form-group col">
                        <label for="DisciplinaProva">Curso</label>
                        <select class="form-control" id="idCurso" name="Curso" size="1" required>
                            @{
                                <option value="0"> Selecione</option>
                                foreach (var item in ViewBag.Cursos)
                                {
                                    <option value="@item.CursoId">@item.Descricao</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="DisciplinaProva">Disciplina</label>
                        <select class="form-control" id="idDisciplina" name="NomeDisciplina" size="1" required>
                            <option> </option>
                        </select>
                    </div>

                    <div class="form-group col">
                        <label for="TurmaProva">Turma</label>
                        <select class="form-control" id="idTurma" name="NomeTurma" size="1" required>
                            <option> </option>
                        </select>

                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="form-group col-md-6" id="mydiv">
                        <label for="AssuntoProva" title="Selecione os assuntos que essa prova irá abordar.">Assunto</label>
                        <select class="selectpicker" multiple name="Assuntos" id="idAssuntoProva" style="width:250px;" tabindex="2" required>
                            <option> </option>

                        </select>

                    </div>

                    <div class="form-group col-md-6">

                        <div class="row">
                            <div class="col">
                                <div class="col" style="text-align: right;">
                                    <div class="row">
                                        <div class="col" style="text-align: center;">
                                            <label class="form-check-label" for="gridCheck">
                                                Tipo das Questões
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check">
                                                <label class="form-check-label" for="gridCheck">
                                                    Simples escolha &emsp; @Html.Raw("(" + 5 + ")")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" id="IdQtSimplesEscolha" type="number" name="QtSimplesEscolha" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check">
                                                <label class="form-check-label" for="gridCheck">
                                                    Multipla escolha &emsp; @Html.Raw("(" + 5 + ")")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" id="IdQtMultiplaEscolha" type="number" name="QtMultiplaEscolha" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check">
                                                <label class="form-check-label" for="gridCheck">
                                                    Verdadeira ou falso &emsp; @Html.Raw("(" + 5 + ")")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" id="IdQtVerdadeirFalso" type="number" name="QtVerdadeirFalso" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check">

                                                <label class="form-check-label" for="gridCheck">
                                                    Dissertativa &emsp; @Html.Raw("(" + 5 + ")")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" id="IdQtDissertativa" type="number" name="QtDissertativa" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="form-group col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-md-6 offset-md-4">
                                <label class="form-check-label" for="gridCheck">
                                    Configuração da faixa de correto/incorreto:
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-3">
                                    <label>&emsp;Incorreto</label>
                                </div>
                                <div class="col-md-3">
                                    <label>&emsp;&emsp;&emsp;Revisar</label>
                                </div>
                                <div class="col-md-2">
                                    <label>&emsp;&emsp;&emsp;&emsp;Correto</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                @*<label for="Incorreto">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Incorreto &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Revisar &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Correto</label>*@
                                <div class="row">
                                    <div class="col-lg-offset-1 col-md-2">
                                        <input class="form-control" id="IncorretoInicio" name="InIni" type="number" value="0" readonly>
                                    </div>
                                    à
                                    <div class="col-md-3">
                                        <input class="form-control" id="IncorretoFim" name="InFim" type="number" value="35">
                                    </div>
                                    à
                                    <div class="col-md-3">
                                        <input class="form-control" id="RevisarFim" name="ParFim" type="number" value="70">
                                    </div>
                                    à
                                    <div class="col-md-2">
                                        <input class="form-control" id="CorretoFim" name="CoFim" type="number" value="100" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="btnConfirmar" type="submit" value="Gerar Prova" class="btn btn-default" />
            </form>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


@*https://www.c-sharpcorner.com/UploadFile/4b0136/working-with-dropdownlist-in-mvc-5/*@

<script>
//Essa parte de Script ainda sendo usado?, parece que não...
    $('.selectpicker').selectpicker();

    function AdicionarQuestoesNaProva() {
        location.href = "https://localhost:44310/GerarProva/AdicionarQuestoesNaProva";

        var val = $('.selectpicker').val();
        $("#selectpicker_id .selectpicker").val();
    }

    function Salvarselectpicker() {

        var val = $('.selectpicker').val();

    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $('#alerta').fadeOut(1000);
        }, 3500);
    });
</script>

<script>
    $('.selectpicker').selectpicker();


    $(document).ready(function () {
        $("#idCurso").on("change", function () {

            var val = $('#idCurso').val();
            var Paramters = "{id:'" + val + "'}";

            $.ajax({

                type: "POST",

                url: "/GerarProva/BuscarDisciplina",

                contentType: "application/json",

                data: Paramters,

                success: function (data) {

                    $.each(data, function (index, value) {
                        $('<option>').text(value).appendTo("#idDisciplina");
                        $('.form - control').selectpicker('refresh');
                    })
                }

            });


        });

    });

    $("#idDisciplina").on("change", function () {

        var val = $('#idDisciplina').val();
        var Paramters = "{nome:'" + val + "'}";

        $.ajax({

            type: "POST",

            url: "/GerarProva/BuscarTurma",

            contentType: "application/json",

            data: Paramters,

            success: function (data) {

                $.each(data, function (index, value) {
                    $('<option>').text(value).appendTo("#idTurma");
                    $('.selectpicker').selectpicker('refresh');
                })
            }

        });

        $.ajax({

            type: "POST",

            url: "/GerarProva/BuscarAssunto",

            contentType: "application/json",

            data: Paramters,

            success: function (data) {

                $.each(data, function (index, value) {
                    $('<option>').text(value).appendTo("#idAssuntoProva");
                    $('.selectpicker').selectpicker('refresh');
                })
            }

        });
    });




</script>
