@model TestAnalyser.Model.Questao
@using TestAnalyser.Model;
@using System.Web.Mvc;

@{
    ViewBag.Title = "Cadastrar Questões";
    Person person = ViewBag.Person;
}

@* Script para o funcionamento de adicionar e remover alternativas *@
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>

    <script type="text/javascript" >
        //Total máximo de campos que você permitirá criar em seu site:
        var totalCampos = 9;

        //Não altere os valores abaixo, pois são variáveis controle;
        var iLoop = 1;
        var iCount = 0;
        var linhaAtual;

        function AddCampos(tipo = '') {
            var hidden1 = document.getElementById("hidden1");
            var hidden2 = document.getElementById("hidden2");

            //Executar apenas se houver possibilidade de inserção de novos campos:
            if (iCount < totalCampos) {

                //Limpar hidden1, para atualizar a lista dos campos que ainda estão vazios:
                hidden2.value = "";

                //Atualizando a lista dos campos que estão ocultos.
                //Essa lista ficará armazenada temporiariamente em hidden2;
                for (iLoop = 1; iLoop <= totalCampos; iLoop++) {
                    if (document.getElementById(tipo + "Alternativas" + iLoop).style.display == "none") {
                        if (hidden2.value == "") {
                            hidden2.value = tipo + "Alternativas" + iLoop;
                        } else {
                            hidden2.value += "," + tipo + "Alternativas" + iLoop;
                        }
                    }
                }
                //Quebrando a lista que foi armazenada em hidden2 em array:
                linhasOcultas = hidden2.value.split(",");

                if (linhasOcultas.length > 0) {
                    //Tornar visível o primeiro elemento de linhasOcultas:
                    document.getElementById(linhasOcultas[0]).style.display = "block"; iCount++;

                    //Acrescentando o índice zero a hidden1:
                    if (hidden1.value == "") {
                        hidden1.value = linhasOcultas[0];
                    } else {
                        hidden1.value += "," + linhasOcultas[0];
                    }
                }
            }
        }

        function RemoverCampos(id, tipo) {
            //Criando ponteiro para hidden1:
            var hidden1 = document.getElementById("hidden1");

            //Pegar o valor do campo que será excluído:
            //var campoValor = document.getElementById(tipo + "Campo" + id).value;

            //Se o campo não tiver nenhum valor, atribuir a string: vazio:
            //if (campoValor == "") {
            //    campoValor = "vazio";
            //}
            var mensagem = "O item selecionado sera removido!\nDeseja prosseguir?";
            if (confirm(mensagem)) {
                document.getElementById(tipo + "Alternativas" + id).style.display = "none"; iCount--;

                //Removendo o valor de hidden1:
                if (hidden1.value.indexOf(tipo + "Alternativas" + id) != -1) {
                    hidden1.value = hidden1.value.replace(tipo + "Alternativas" + id, "");
                } else if (hidden1.value.indexOf(tipo + "Alternativas" + id + ",") == 0) {
                    hidden1.value = hidden1.value.replace(tipo + "Alternativas" + id + ",", "");
                } else {
                    hidden1.value = "";
                }
            }
        }
    </script>
</head>

<div class="row">
    <div>
        <h2>Cadastrar Questoes</h2>
    </div>
    @*<div style="margin-left: 69%;">
        <a href="@Url.Action("CadastrarAssunto", "CadastrarQuestoes")">
            <input type="button" class="btn btn-primary" value="Cadastrar Assuntos"/>
        </a>
    </div>*@
</div>
<br />
@if (TempData["$AlertMessage$"] != null)
{
    <div id="alerta" style="color: red; text-align: center;">@TempData["$AlertMessage$"]</div>
}
<div class="col-lg-12 tab-content">
    @*Abas para cada tipo de questão ...*@
    <br />
    <ul class="nav justify-content-center nav-pills nav-fill">
        <li id="SE" class="nav-item"><a class="borda active show" data-toggle="tab" href="#divSE">Simples-Escolha</a></li>
        <li id="ME" class="nav-item"><a class="borda" data-toggle="tab" href="#divME">Multipla-Escolha</a></li>
        <li id="VF" class="nav-item"><a class="borda" data-toggle="tab" href="#divVF">Verdadeiro Ou Falso</a></li>
        <li id="DT" class="nav-item"><a class="borda" data-toggle="tab" href="#divDT">Dissertativa</a></li>
    </ul>

    @*Cada DIV terá um tipo de questão que irá ser apresentado em tela...*@
    <br />
    @*Questão Simples-Escolha*@
    <div id="divSE" class="tab-pane fade active show">
        <h5>Tipo: Simples-Escolha</h5>
        <br />
        <form class="form-horizontal" name="form1" id="formCadSE" method="post" action="@Url.Action("CadastrarSE", "CadastrarQuestoes")">
            @*<form name="form1" action="paginaPHPouASP" method="post">*@
            <div class="col-lg-8">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="form-row">
                <div class="col-md-5">
                    <label>Assunto</label>
                    @*<input type="text" class="form-control" id="Assunto" name="Assunto">*@
                    <div class="col-md-10" style="padding-right: 0px !important;padding-left: 0px !important;contain: size;">
                        @Html.DropDownList("AssuntoQuestao", new SelectList(ViewBag.AssuntosQuestao, "AssuntoId", "Descricao"), htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2" style="float: right;padding-left: 0px;">
                        <a href="@Url.Action("CadastrarAssunto", "CadastrarQuestoes")">
                            <input type="button" class="btn btn-primary" value="+" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="Disciplinas">Disciplinas</label>
                    @Html.DropDownList("DisciplinaId", new SelectList(ViewBag.Disciplinas, "DisciplinaId", "Nome"), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    <label for="EnunciadoSE">Enunciado</label>
                    <textarea class="form-control" id="Enunciado" name="Enunciado"></textarea>
                </div>
            </div>
            <br />
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for="">Alternativas: &emsp;</label><h10 title="Clique em 'Adicionar Alternativas' e marque a alternativa que for Correta">(Ajuda)</h10>
                </div>
            </div>
            <br />
            <div id="DivAlternativas">
                <script type="text/javascript">
                    //Escrevendo o código-fonte HTML e ocultando os campos criados:
                    for (iLoop = 1; iLoop <= totalCampos; iLoop++) {
                        document.write("<div class='' id='SEAlternativas" + iLoop + "' style='display:none'><div class='form-inline'> <div class='form - group mb - 2'><input type='radio' id='SEradio" + "' name='SEradio' value='" + iLoop + "' /> <span id='Alternativas' > " + iLoop + ") </div> <div class='form - group mx - sm - 3 mb - 2' style='min-width: 50%;'> <input class='form-control' style='min-width: 100%;' type='text' id='Alternativas' name='Alternativas'>     </div><input type='button' class='btn btn-default' style='background-color: #ffcfbe; color: black;' value='Remover' onclick='RemoverCampos(\"" + iLoop + "\",\"SE\")'></span> </div> </div>");
                    }
                </script>
                <br />
                <input type="button" value="Adicionar Alternativas" class="btn btn-default" style="background-color: #D3D3D3;" onclick="AddCampos('SE')">
                <input type="text" name="hidden1" id="hidden1" hidden>
                <input type="hidden" name="hidden2" id="hidden2">
            </div>
            <br />

            <div class="form-row">
                <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>

    @*Questão Multipla-Escolha*@
    <div id="divME" class="tab-pane fade">
        <h5>Tipo: Multipla-Escolha</h5>
        <br />
        <form class="form-horizontal" name="form1" id="formCadME" method="post" action="@Url.Action("CadastrarME", "CadastrarQuestoes")">
            <div class="form-row">
                <div class="col-md-5">
                    <label>Assunto</label>
                    @*<input type="text" class="form-control" id="Assunto" name="Assunto">*@
                    <div class="col-md-10" style="padding-right: 0px !important;padding-left: 0px !important;contain: size;">
                        @Html.DropDownList("AssuntoQuestao", new SelectList(ViewBag.AssuntosQuestao, "AssuntoId", "Descricao"), htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2" style="float: right;padding-left: 0px;">
                        <a href="@Url.Action("CadastrarAssunto", "CadastrarQuestoes")">
                            <input type="button" class="btn btn-primary" value="+" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="Disciplinas">Disciplinas</label>
                    @Html.DropDownList("DisciplinaId", new SelectList(ViewBag.Disciplinas, "DisciplinaId", "Nome"), htmlAttributes: new { @class = "form-control" })
                </div>
                @*<div class="col-md-1">
                <label for="Parcial" title="Marque para permitir que a nota do aluno seja calculada parcialmente com base nas alternativas selecionadas."> Parcial </label>
                <input type="checkbox" title="Marque para permitir que a nota do aluno seja calculada parcialmente com base nas alternativas selecionadas." class="form-control" id="Parcial" name="Parcial" value="1">
            </div>*@
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    <label for="EnunciadoME">Enunciado</label>
                    <textarea class="form-control" id="EnunciadoME" name="Enunciado"></textarea>
                </div>
            </div>
            @*<br />
        <div class="form-row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-1">
                        <label for="1">I)</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label for="2">II)</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label for="3">III)</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label for="4">IV)</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label for="5">V)</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                    </div>
                </div>
            </div>
        </div>*@
            <br />
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for="">Alternativas: &emsp;</label><h10 title="Clique em 'Adicionar Alternativas' e marque as alternativas que forrem Corretas">(Ajuda)</h10>
                </div>
            </div>
            <br />
            <div id="DivAlternativas">
                <script type="text/javascript">
                    for (iLoop = 1; iLoop <= totalCampos; iLoop++) {
                        document.write("<div class='' id='MEAlternativas" + iLoop + "' style='display:none'><div class='form-inline'> <div class='form - group mb - 2'><input type='checkbox' id='MEchbx" +
                            "' name='MEchbx' value='" + iLoop + "' /> <span id='Alternativas' > " + iLoop + ") </div> <div class='form - group mx - sm - 3 mb - 2' style='min-width: 50%;'> <input class='form-control' style='min-width: 100%;' type='text' id='Alternativas' name='Alternativas'>     </div><input type='button' class='btn btn-default' style='background-color: #ffcfbe; color: black;' value='Remover' onclick='RemoverCampos(\"" + iLoop + "\",\"ME\")'></span> </div> </div>");
                    }
                </script>
                <br />
                <input type="button" value="Adicionar Alternativas" class="btn btn-default" style="background-color: #D3D3D3;" onclick="AddCampos('ME')">
                <input type="text" name="hidden1" id="hidden1" hidden>
                <input type="hidden" name="hidden2" id="hidden2">
            </div>
            <br />
            <div class="form-row">
                <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>

    @*Questão Verdadeiro ou Falso*@
    <div id="divVF" class="tab-pane fade">
        <h5>Tipo: Verdadeiro ou Falso</h5>
        <br />
        <form class="form-horizontal" name="form1" id="formCadVF" method="post" action="@Url.Action("CadastrarVF", "CadastrarQuestoes")">
            <div class="form-row">
                <div class="col-md-5">
                    <label>Assunto</label>
                    @*<input type="text" class="form-control" id="Assunto" name="Assunto">*@
                    <div class="col-md-10" style="padding-right: 0px !important;padding-left: 0px !important;contain: size;">
                        @Html.DropDownList("AssuntoQuestao", new SelectList(ViewBag.AssuntosQuestao, "AssuntoId", "Descricao"), htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2" style="float: right;padding-left: 0px;">
                        <a href="@Url.Action("CadastrarAssunto", "CadastrarQuestoes")">
                            <input type="button" class="btn btn-primary" value="+" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="Disciplinas">Disciplinas</label>
                    @Html.DropDownList("DisciplinaId", new SelectList(ViewBag.Disciplinas, "DisciplinaId", "Nome"), htmlAttributes: new { @class = "form-control" })
                </div>
                @*<div class="col-md-1">
                        <label for="Parcial" title="Marque para permitir que a nota do aluno seja calculada parcialmente com base nas alternativas selecionadas."> Parcial </label>
                        <input type="checkbox" title="Marque para permitir que a nota do aluno seja calculada parcialmente com base nas alternativas selecionadas." class="form-control" id="Parcial" name="Parcial" value="1">
                    </div>*@
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    <label for="EnunciadoVF">Enunciado</label>
                    <textarea class="form-control" id="EnunciadoVF" name="Enunciado"></textarea>
                </div>
            </div>
            @*<br />
                <div class="form-row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="I">I)</label>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label for="II">II)</label>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label for="III">III)</label>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label for="IV">IV)</label>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label for="V">V)</label>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="Opcoes" name="Opcoes">
                            </div>
                        </div>

                    </div>
                </div>
                <br />*@
            <br />
            <div class="form-row">
                <div class="col-md-3">
                    <label for="">Alternativas: &emsp;</label><h10 title="Clique em 'Adicionar Alternativas' e marque as alternativas que forrem Corretas">(Ajuda)</h10>
                </div>
            </div>
            <br />
            <div id="DivAlternativas">
                <script type="text/javascript">
                    for (iLoop = 1; iLoop <= totalCampos; iLoop++) {
                        document.write("<div class='' id='VFAlternativas" + iLoop + "' style='display:none'><div class='form-inline'> <div class='form - group mb - 2'><input type='checkbox' id='VFchbx" +
                            "' name='VFchbx' value='" + iLoop + "' /> <span id='Alternativas' > " + iLoop + ") </div> <div class='form - group mx - sm - 3 mb - 2' style='min-width: 50%;'> <input class='form-control' style='min-width: 100%;' type='text' id='Alternativas' name='Alternativas'>     </div><input type='button' class='btn btn-default' style='background-color: #ffcfbe; color: black;' value='Remover' onclick='RemoverCampos(\"" + iLoop + "\",\"VF\")'></span> </div> </div>");
                    }
                </script>
                <br />
                <input type="button" value="Adicionar Alternativas" class="btn btn-default" style="background-color: #D3D3D3;" onclick="AddCampos('VF')">
                <input type="text" name="hidden1" id="hidden1" hidden>
                <input type="hidden" name="hidden2" id="hidden2">
            </div>
            <br />
            <div class="form-row">
                <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>

    @*Questão Dissertativa*@
    <script src="ckeditor/ckeditor.js"></script>
    <div id="divDT" class="tab-pane fade">
        <h5>Tipo: Dissertativa</h5>
        <br />
        <form class="form-horizontal" name="form1" id="formCadDT" method="post" action="@Url.Action("CadastrarDT", "CadastrarQuestoes")">
            <div class="form-row">
                <div class="col-md-5">
                    <label>Assunto</label>
                    @*<input type="text" class="form-control" id="Assunto" name="Assunto">*@
                    <div class="col-md-10" style="padding-right: 0px !important;padding-left: 0px !important;contain: size;">
                        @Html.DropDownList("AssuntoQuestao", new SelectList(ViewBag.AssuntosQuestao, "AssuntoId", "Descricao"), htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2" style="float: right;padding-left: 0px;">
                        <a href="@Url.Action("CadastrarAssunto", "CadastrarQuestoes")">
                            <input type="button" class="btn btn-primary" value="+" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="Disciplinas">Disciplinas</label>
                    @Html.DropDownList("DisciplinaId", new SelectList(ViewBag.Disciplinas, "DisciplinaId", "Nome"), htmlAttributes: new { @class = "form-control" })

                    @Scripts.Render("~/bundles/jquery")
                    <script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
                    <script type="text/javascript">
                        tinymce.init({ selector: 'textarea#EnunciadoDT', width: 700 });
                        tinymce.init({ selector: 'textarea#EnunciadoVF', width: 700 });
                        tinymce.init({ selector: 'textarea#EnunciadoME', width: 700 });
                        tinymce.init({ selector: 'textarea#Enunciado', width: 700 });
                    </script>

                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    <label for="EnuncuadoDT">Enunciado</label>
                    <textarea class="form-control txta" id="EnunciadoDT" name="Enunciado"></textarea>

                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-md-8">
                    <label for="RespostaDT">Resposta correta</label>
                    <textarea class="form-control" id="RespostaDiscursiva" name="RespostaDiscursiva"></textarea>
                    @*<input cols="5" class="form-control form-control-custom" id="RespostaDiscursiva" name="RespostaDiscursiva" style="width: 500px; height: 120px;" type="text" value="">*@
                </div>
            </div>
            <br />
            <div class="form-row">
                <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
        </form>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $('#alerta').fadeOut(1000);
        }, 2500);
    });


    SEradio
</script>
