
@{
    ViewBag.Title = "ConsultarQuestoes";
}
@{
    var questoes = ViewBag.Questoes;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> @*//remover*@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="formConsultarQuestao" id="formConsultarQuestao" method="post" action="@Url.Action("ConsultarQuestoesBtn", "ConsultarQuestoes")">
                <h2>Consultar Questões</h2>
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col">
                                <label for="Curso">Curso</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="CursoId" name="Curso">
                                    @{
                                        <option value="0"> </option>
                                        foreach (var item in ViewBag.Cursos)
                                        {
                                            <option value="@item.CursoId">@item.Descricao</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col">
                                <label for="AssuntoSE">Disciplina</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="DisciplinaId" name="Disciplina">
                                    <option>Selecionar</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <label for="Assunto">Assunto</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="AssuntoId" name="Assunto">
                                    <option>Selecionar</option>
                                </select>
                            </div>
                            <div class="col">
                                <input id="btnConsultar" type="submit" value="Consultar" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <h3>Provas</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Disciplina</th>
                    <th scope="col">Assunto</th>
                    <th scope="col">Enunciado</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody>
                @{
                    if (questoes != null)
                    {
                        foreach (var item in questoes)
                        {
                            <tr>
                                <td>@item.Disciplina.Nome</td>
                                <td>@item.Assunto</td>
                                <td>@item.Enunciado</td>
                                <td>
                                    <div id="Acoes">
                                        @Html.ActionLink("Editar", "Editar", new { id = item.QuestaoId }) |
                                        @Html.ActionLink("Excluir", "Excluir", new { id = item.QuestaoId })
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>


    @* Modal para confirmar exclusão *@
    <div class="modal fade" id="ConfirmaExcluir">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Excluir questão</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <p>Você deseja Excluir essa questão?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ExcluirQuestão()">Sim</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                </div>
            </div>
        </div>
    </div>


    @*Aqui existe apenas para exemplo, tem que criar a função para exibir a mesma mensagem DELETAR*@
    <div class="modal fade" id="ErroExcluir">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Não é Possível Excluir:</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <p>Essa questão já está vinculada a uma prova, você deve Inativa-la!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script>

        function ExcluirQuestão() {
            console.log("Questão deletada...");
            $('#ConfirmaExcluir').modal('hide');
        }

        function EditarQuestao() {
            location.href = "https://localhost:44310/CadastrarQuestoes/CadastrarQuestoes";
        }

        $(function () { @*//remover*@
            $(".btn-toggle").click(function (e) {
                e.preventDefault();
                el = $(this).data('element');
                $(el).toggle();
            });
        });




        //Certo a partir daqui...
        $(document).ready(function () {
            $("#CursoId").on("change", function () {

                var val = $('#CursoId').val();
                var Paramters = "{id:'" + val + "'}";

                $.ajax({
                    type: "POST",
                    url: "/ConsultarQuestoes/ConsultarDisciplina",
                    contentType: "application/json",
                    data: Paramters,
                    success: function (data) {
                        var obj = JSON.parse(data);
                        $.each(obj, function (key, value) {
                            $('<option>').val(key).text(value).appendTo("#DisciplinaId");
                            //$('.form - control').selectpicker('refresh');
                        })
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#DisciplinaId").on("change", function () {

                var val = $('#DisciplinaId').val();
                var Paramters = "{id:'" + val + "'}";

                $.ajax({
                    type: "POST",
                    url: "/ConsultarQuestoes/BuscarAssuntos",
                    contentType: "application/json",
                    data: Paramters,
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $('<option>').text(value).appendTo("#AssuntoId");
                            //$('.selectpicker').selectpicker('refresh');
                        })
                    }
                });
            });
        });


    </script>
</div>