
@{
    ViewBag.Title = "Consultar Questões";
}
@{
    var questoes = ViewBag.Questoes;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="formConsultarQuestao" id="formConsultarQuestao" method="post" action="@Url.Action("ConsultarQuestoesBtn", "ConsultarQuestoes")">
                <h2>Consultar Questões</h2>
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col">
                                <label for="Curso">Curso</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="CursoId" name="Curso">
                                    @{
                                        <option value="0">Selecionar</option>
                                        foreach (var item in ViewBag.Cursos)
                                        {
                                            <option value="@item.CursoId">@item.Descricao</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col">
                                <label for="AssuntoSE">Disciplina</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="DisciplinaId" name="Disciplina">
                                    <option>Selecionar</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col">
                                <label for="Assunto">Assunto</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="AssuntoId" name="Assunto">
                                    <option>Selecionar</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="row">
                            <div class="col">
                                <label for="Des" title="Marque para Consultar as Questões que estão 'Desativadas'.">Des</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input type="checkbox" id="chbxDesativados" name="Desativado" value="1" />
                            </div>
                            <div class="col">
                                <input id="btnConsultar" type="submit" value="Consultar" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <h3>Provas</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Disciplina</th>
                    <th scope="col">Assunto</th>
                    <th scope="col">Enunciado</th>
                    <th scope="col">Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (questoes != null)
                    {
                        foreach (var item in questoes)
                        {
                            <tr>
                                <td>@item.Disciplina.Nome</td>
                                <td>@item.Assunto</td>
                                <td>@Html.Raw(item.Enunciado)</td>
                                <td>@item.TipoQuestao</td>
                                <td>
                                    <div id="Acoes">
                                        @Html.ActionLink("Editar", "EditarQuestao", "ConsultarQuestoes", new { questaoID = item.QuestaoId }, null) |
                                        @Html.ActionLink("Excluir", "ExcluirQuestao", "ConsultarQuestoes", new { questaoID = item.QuestaoId }, null)
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>


    @* Modal para confirmar exclusão *@
    <div class="modal fade" id="ConfirmaExcluir">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Excluir questão</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <p>Você deseja Excluir essa questão?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ExcluirQuestão()">Sim</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        function ExcluirQuestão() {
            console.log("Questão deletada...");
            $('#ConfirmaExcluir').modal('hide');
        }






        //Certo a partir daqui...
        $(document).ready(function () {
            $("#CursoId").on("change", function () {

                var val = $('#CursoId').val();
                var Paramters = "{id:'" + val + "'}";

                $.ajax({
                    type: "POST",
                    url: "/ConsultarQuestoes/ConsultarDisciplina",
                    contentType: "application/json",
                    data: Paramters,
                    success: function (data) {
                        var obj = JSON.parse(data);
                        $.each(obj, function (key, value) {
                            $('<option>').val(key).text(value).appendTo("#DisciplinaId");
                        })
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#DisciplinaId").on("change", function () {

                var val = $('#DisciplinaId').val();
                var Paramters = "{id:'" + val + "'}";

                $.ajax({
                    type: "POST",
                    url: "/ConsultarQuestoes/ConsultarAssuntos",
                    contentType: "application/json",
                    data: Paramters,
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $('<option>').text(value).appendTo("#AssuntoId");
                        })
                    }
                });
            });
        });


    </script>
</div>