
@{
    ViewBag.Title = "Consultar Prova";
}
@{
    var provas = ViewBag.Provas;
}
@model TestAnalyser.Model.Prova
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

</head>
<h2>Consultar Provas</h2>
<br />

<div class="container">
    <form name="formConsultarProva" id="formConsultaProva" method="post" action="@Url.Action("ConsultarProva", "ConsultarProvaPr")">
        <div class="row">
            <div class="col-md-12">
                <div class="form-row">

                    @*<div class="col-md-1">
                        <div class="row">
                            <div class="col">
                                <label for="AssuntoSE">Pendente</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input type="checkbox" id="chbxPendentes" name="Pendentes" value="" />
                            </div>
                        </div>
                    </div>*@

                    <div class="col-md-2">
                        <div class="row">
                            <div class="col">
                                <label for="AssuntoSE">Data início</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="date" name="DataInicio" value="" id="DataInicio" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="row">
                            <div class="col">
                                <label for="AssuntoSE">Data fim</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="date" name="DataFim" value="" id="DataFim" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="row">
                            <div class="col">
                                <label for="AssuntoSE">Curso</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="CursoId" name="Curso" required>
                                    @{
                                        <option value="0"> Selecionar </option>
                                        foreach (var item in ViewBag.Cursos)
                                        {
                                            <option value="@item.CursoId">@item.Descricao</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="row">
                            <div class="col">
                                <label for="AssuntoSE">Disciplina</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="DisciplinaId" name="Disciplina" required>
                                    <option>Selecionar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col">
                                <label for="AssuntoSE">Turma</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="TurmaId" name="NomeTurma">
                                    <option value="">Selecionar</option>
                                </select>
                            </div>
                            <input id="btnPesquisar" autofocus type="submit" value="Consultar" class="btn btn-primary" />
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </form>
    <br />
    <br />
    <div class="row">
        <h3>Provas</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Disciplina</th>
                    <th scope="col">Turma</th>
                    <th scope="col">Titulo</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody>
                @{
                    if (provas != null)
                    {
                        string dataProva = "";
                        foreach (var item in provas)
                        {
                            if (item.DataProvaInicio == item.DataProvaFim)
                            {
                                dataProva = @item.DataProvaInicio.ToString("dd/MM/yyyy");
                            }
                            else
                            {
                                dataProva = @item.DataProvaInicio.ToString("dd/MM/yyyy") + " á " + @item.DataProvaFim.ToString("dd/MM/yyyy");
                            }

                                <tr>
                                    <td>@dataProva</td>
                                    <td>@item.Disciplina.Nome</td>
                                    <td>@item.NomeTurma</td>
                                    <td>@item.TituloProva</td>
                                    <td>
                                        <div id="divGridConsultaPr1">
                                            @Html.ActionLink("Visualizar", "VisualizarProva", "ConsultarProvaPr", new { ProvaID = item.ProvaId }, null) |
                                            @Html.ActionLink("Corrigir", "OpcoesCorrecao", "ConsultarProvaPr", new { idProva = item.ProvaId }, null) |
                                        </div>
                                        <div id="divGridConsultaProvaPend1" style="display:none">
                                            @Html.ActionLink("Editar", "Editar", new { id = item.ProvaId }) |
                                            @Html.ActionLink("Excluir", "Excluir", new { id = item.ProvaId })
                                        </div>
                                    </td>
                                </tr>
                        }
                    }

                }

            </tbody>

        </table>


    </div>
</div>

<br />


@* Modal para confirmar exclusão *@
<div class="modal fade" id="ExcluirProva">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Excluir:</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>Você realmente deseja excluir essa prova?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ExcluirProva()">Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


<script>
    $('.selectpicker').selectpicker();


    $(document).ready(function () {
        $("#CursoId").on("change", function () {

            var val = $('#CursoId').val();
            var Paramters = "{id:'" + val + "'}";

            $.ajax({

                type: "POST",

                url: "/ConsultarProvaPr/ConsultarDisciplina",

                contentType: "application/json",

                data: Paramters,

                success: function (data) {
                    var obj = JSON.parse(data);
                    $.each(obj, function (key, value) {
                        $('<option>').text(value).appendTo("#DisciplinaId");
                        $('.form - control').selectpicker('refresh');
                    })
                }

            });

        });

    });

    $(document).ready(function () {
        $("#DisciplinaId").on("change", function () {

            var val = $('#DisciplinaId').val();
            var Paramters = "{nome:'" + val + "'}";

            $.ajax({

                type: "POST",

                url: "/ConsultarProvaPr/BuscarTurmas",

                contentType: "application/json",

                data: Paramters,

                success: function (data) {
                    var obj = JSON.parse(data);
                    $.each(obj, function (key, value) {
                        $('<option>').val(value).text(value).appendTo("#TurmaId");
                        $('.selectpicker').selectpicker('refresh');
                    })
                }

            });
        });

    });

    function CarregarPagina() {
        btnPesquisar
        location.reload();
    }

    function VoltarPagina() {

        $.ajax({

            type: "GET",

            url: "/ConsultarProvaPr/ConsultarProvaPr",


            success: function (data) {
                window.location.href = "/ConsultarProvaPr/ConsultarProvaPr";
            }


        });

    }

</script>
