@model TestAnalyser.Model.Prova
@using TestAnalyser.Model;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Corrigir Todas as Questões";
    var count = 1;
    var MarcadasX = ViewBag.Marcadas;
    var provaID = Model.ProvaId;
}

<div id="divSE" class="">
    <div style="text-align: left;"><h2><b>@Html.Raw(Model.TituloProva)</b></h2></div>
    <div style="text-align: left;"><h5><b>@Html.Raw(Model.RespostasAlunos[0].Aluno.NomeAluno)</b></h5></div>
    @if (TempData["$NotaAluno$"] != null)
    {
        <div id="NotaAluno" style="color: cornflowerblue; text-align: right;"><div><u>Nota Max: @Html.Raw(Model.ValorProva)</u></div><h4>Nota do Aluno: <b>@TempData["$NotaAluno$"]</b></h4></div>
    }
    <br />
    <form class="form-horizontal" name="form1" id="form" @*method="post" action="@Url.Action("SalvarProva", "ConsultarProvaAl")*@>
        <div id="DivGeral">
            @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 1).ToList())
            {
                <div class="card">
                    <div class="card-body" style="border: 1px solid;border-color: darkcyan">
                        <br />
                        <div class="form-row">
                            <div class="col-md-4">
                                <h6><b>Questão @count</b></h6>
                            </div>
                            <div class="col-md-2 offset-md-6">
                                <h7><u>Nota Max Questão:</u> (@Html.Raw(x.ValorQuestao))</h7>
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-md-8">
                                @Html.Raw(x.Questao.Enunciado)
                            </div>
                            <div class="col-md-2 offset-md-2 row">
                                <h6>Nota Aluno: </h6>
                                <input id="NotaQuestao_@count" class="form-control" name="NotaQuestao_@count" type="text" style="max-width: 50%;" value=@Html.Raw(Model.RespostasAlunos[(count - 1)].NotaAluno) />
                                <input id="btnSalvar" value="Salvar" onclick="SalvarQuestao(@count, @x.Questao.QuestaoId, @provaID, @Model.RespostasAlunos[0].Aluno.AlunoId)" type="button" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                            @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-md-3">
                                <label for=""><b>Alternativas:</b></label>
                            </div>
                        </div>
                        <div id="DivAlternativas">
                            @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                            {
                                <div class="form-row" style="align-items: center;">
                                    @Html.Hidden("AlternativaCorreta", x.Questao.Alternativas[i].correto, new { id = "QstCorreta" })
                                    @Html.RadioButton("AlternativaId" + "SE" + count, x.Questao.Alternativas[i].AlternativaId, new { disabled = "disabled" })
                                    <label for="">@(i + 1)) </label>
                                    @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                                </div>
                            }
                        </div>
                        <br />
                        <script>@(count = count + 1) </script>
                    </div>
                </div>
            }

            <br />
            @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 2).ToList())
            {
                <div class="card">
                    <div class="card-body" style="border: 1px solid;border-color: darkcyan">
                        <br />
                        <div class="form-row">
                            <div class="col-md-4">
                                <h6><b>Questão @count</b></h6>
                            </div>
                            <div class="col-md-2 offset-md-6">
                                <h7><u>Nota Max Questão:</u> (@Html.Raw(x.ValorQuestao))</h7>
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-md-8">
                                @Html.Raw(x.Questao.Enunciado)
                            </div>
                            <div class="col-md-2 offset-md-2 row">
                                <h6>Nota Aluno: </h6>
                                <input id="NotaQuestao_@count" class="form-control" name="NotaQuestao_@count" type="text" style="max-width: 50%;" value=@Html.Raw(Model.RespostasAlunos[(count - 1)].NotaAluno) />
                                <input id="btnSalvar" value="Salvar" onclick="SalvarQuestao(@count, @x.Questao.QuestaoId, @provaID, @Model.RespostasAlunos[0].Aluno.AlunoId)" type="button" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                            @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-md-3">
                                <label for=""><b>Alternativas:</b></label>
                            </div>
                        </div>
                        <div id="DivAlternativas">
                            @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                            {
                                <div class="form-row" style="align-items: center;">
                                    @Html.Hidden("AlternativaCorreta", x.Questao.Alternativas[i].correto, new { id = "QstCorreta" })
                                    @Html.CheckBox("AlternativaId" + "ME" + count, new { disabled = "disabled", value = x.Questao.Alternativas[i].AlternativaId })
                                    <label for="">@(i + 1)) </label>
                                    @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                                </div>
                            }
                        </div>
                        <br />
                        <script>@(count = count + 1) </script>
                    </div>
                </div>
            }
            <br />
            @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 3).ToList())
            {
                <div class="card">
                    <div class="card-body" style="border: 1px solid;border-color: darkcyan">
                        <br />
                        <div class="form-row">
                            <div class="col-md-4">
                                <h6><b>Questão @count</b></h6>
                            </div>
                            <div class="col-md-2 offset-md-6">
                                <h7><u>Nota Max Questão:</u> (@Html.Raw(x.ValorQuestao))</h7>
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-md-8">
                                @Html.Raw(x.Questao.Enunciado)
                            </div>
                            <div class="col-md-2 offset-md-2 row">
                                <h6>Nota Aluno: </h6>
                                <input id="NotaQuestao_@count" class="form-control" name="NotaQuestao_@count" type="text" style="max-width: 50%;" value=@Html.Raw(Model.RespostasAlunos[(count - 1)].NotaAluno) />
                                <input id="btnSalvar" value="Salvar" onclick="SalvarQuestao(@count, @x.Questao.QuestaoId, @provaID, @Model.RespostasAlunos[0].Aluno.AlunoId)" type="button" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                            @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-md-3">
                                <label for=""><b>Alternativas:</b></label>
                            </div>
                        </div>
                        <div id="DivAlternativas">
                            @for (int i = 0; i < x.Questao.Alternativas.Count; i++)
                            {
                                <div class="form-row" style="align-items: center;">
                                    @Html.Hidden("AlternativaCorreta", x.Questao.Alternativas[i].correto, new { id = "QstCorreta" })
                                    @Html.CheckBox("AlternativaId" + "VF" + count, new { disabled = "disabled", value = x.Questao.Alternativas[i].AlternativaId })
                                    <label for="">@(i + 1)) </label>
                                    @Html.Raw(x.Questao.Alternativas[i].DescAlternativa)
                                </div>
                            }
                        </div>
                        <br />
                        <script>@(count = count + 1) </script>
                    </div>
                </div>
            }
            <br />
            @foreach (var x in Model.NotasQuestoes.Where(y => y.Questao.TipoQuestao == 4).ToList())
            {
                <div class="card">
                    <div class="card-body" style="border: 1px solid;border-color: darkcyan">
                        <br />
                        <div class="form-row">
                            <div class="col-md-4">
                                <h6><b>Questão @count</b></h6>
                            </div>
                            <div class="col-md-2 offset-md-6">
                                <h7><u>Nota Max Questão:</u> (@Html.Raw(x.ValorQuestao))</h7>
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-md-8">
                                @Html.Raw(x.Questao.Enunciado)
                            </div>
                            <div class="col-md-2 offset-md-2 row">
                                <h6>Nota Aluno: </h6>
                                <input id="NotaQuestao_@count" class="form-control" name="NotaQuestao_@count" type="text" style="max-width: 50%;" value=@Html.Raw(Model.RespostasAlunos[(count - 1)].NotaAluno) />
                                <input id="btnSalvar" value="Salvar" onclick="SalvarQuestao(@count, @x.Questao.QuestaoId, @provaID, @Model.RespostasAlunos[0].Aluno.AlunoId)" type="button" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Hidden("QuestaoId", x.Questao.QuestaoId)
                            @Html.Hidden("TipoQuestao", x.Questao.TipoQuestao)
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-md-3">
                                <label for=""><u>Resposta:</u></label>
                            </div>
                        </div>
                        <br />
                        <div id="DivRespostaDT">
                            @{string resp = Model.RespostasAlunos[(count - 1)].RespostaDiscursiva; }
                            @Html.TextArea("RespostaDiscursiva", resp, new { @class = "form-control", @id = "RespostaDiscursiva", @readonly = true })
                        </div>
                        <br />
                        <script>@(count = count + 1) </script>
                    </div>
                </div>
            }
            @*<div class="form-row">
                    <button witdh="50" id="btnSalvar" type="submit" class="btn btn-primary btn-sm">Salvar</button>
                </div>*@
            <br />
            <div class="form-row">
                <input id="btnVoltar" value="Voltar" onclick="VoltarPagina()" type="button" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    window.load = MarcarCorretas();

    function MarcarCorretas() {

        $("#DivAlternativas #QstCorreta").each(function () {
            var certo = $(this).val();
            if (certo == 1) {
                $(this).closest(".form-row").css("background-color", "#50FF50");
            }
        });
        AlternativasSelecionadas()
    }

    function AlternativasSelecionadas() {
        var Marcs = @Html.Raw(Json.Encode(ViewBag.Marcadas));
        var contador = 0;

        $("#DivGeral input[name^='AlternativaId']").each(function () {
            var ID = $(this).val();

            if (ID == Marcs[contador]) {
                $(this).attr("checked", true);
                contador++;
            }
        });
    }

    function VoltarPagina() {

        $.ajax({
            type: "GET",
            url: "/ConsultarProvaAl/Voltar",
            success: function (data) {
                window.location.href = "/ConsultarProvaPr/ConsultarProvaPr";
            }
        });
        location.reload();
    }

    function SalvarQuestao(CC, QustID, ProvID, AlunID) {

        var nota = document.getElementById("NotaQuestao_"+CC).value;

        $.ajax({
            type: "POST",
            url: '/ConsultarProvaPr/SalvarNotaManual',
            data: { QuestaoID: QustID, ProvaID: ProvID, AlunoID: AlunID, Nota: nota },
            success: function (data) {
            }
        });
    }
    

</script>

