
@using TestAnalyser.Model
@{
    ViewBag.Title = "Corrigir Prova Aluno";
    Prova provas = ViewBag.Provas;
    List<RespostasAluno> respostaAluno = ViewBag.RespostasAlunoCorrecao;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<h2>Corrigir Prova</h2>

<div class="col-lg-12 tab-content" id="CorrigirProva">
    <div class="container">
        <br />

        <form name="form1" id="formCadSE" method="post" action="@Url.Action("SalvarCorrecaoProva", "ConsultarProvaPr")">

            <br />
            <br />
            @{
                int aux = 1;
                string status = "";
                foreach (var item in respostaAluno)
                {
                    if (item.Questao.TipoQuestao == 4)
                    {
                        if (item.SituacaoCorrecao == 1)
                        {
                            status = "correta";
                        }

                        else if (item.SituacaoCorrecao == 2)
                        {
                            status = "parcialmente correta";
                        }

                        else if (item.SituacaoCorrecao == 3)
                        {
                            status = "incorreta";
                        }

                        else if (item.SituacaoCorrecao == 0)
                        {
                            status = "não processada";
                        }

                        <div class="form-row">
                            <div class="form-group col-md-8 offset-md-1">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8 offset-md-1">
                                <h5>Questão @aux</h5>
                                <br />
                                <br />
                                <input class="form-control" type="hidden" id="idquestao" name="idquestao" value="@item.Questao.QuestaoId" />
                                @Html.Raw(item.Questao.Enunciado)
                            </div>
                            <div class="col-md-2">
                                <h5>Status</h5>
                                <h7 style="color:red;"> @status </h7>
                                <select class="form-control" id="idSituacao" name="idSituacao">
                                    <option value="">Selecionar</option>
                                    <option value="1">Correta</option>
                                    <option value="2">Parcial</option>
                                    <option value="3">Incorreta</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8 offset-md-1">
                                <h5>Resposta </h5>
                                <textarea class="form-control" id="respostaAluno" disabled>@item.RespostaDiscursiva</textarea>
                            </div>
                            <br />
                            <br />
                            <div class="form-group col-md-8 offset-md-1">
                                <h5>Resposta Correta </h5>
                                <textarea class="form-control" id="respostaProfessor" disabled>@item.Questao.RespostaDiscursiva</textarea>
                            </div>
                            <div class="col-md-2">
                                <h5>Nota</h5>
                                <input class="form-control" id="notas" type="text" name="notas" value="@item.NotaAluno">
                            </div>
                        </div>
                        <br />
                        <br />
                    }

                aux++;
                }
            }
            <button witdh="50" title="Salvar" type="submit" class="btn btn-primary">Salvar</button>
            <input id="btnVoltar" value="Voltar" onclick="VoltarPagina()" type="button" class="btn btn-default" />
        </form>
    </div>
</div>
<script>
    function VoltarPagina() {

        $.ajax({

            type: "GET",

            url: "/ConsultarProvaPr/VoltarOpcoesCorrecao",


            success: function (data) {
                window.location.href = "/ConsultarProvaPr/OpcoesCorrecao";
            }


        });

    }
</script>

