<!DOCTYPE html>

@{
    ViewBag.Title = "ConsultarProvaPr";
}
@model TestAnalyser.Model.Prova
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

</head>
<h2>Consultar Prova</h2>
<br />
@{

}
<div class="col-md-12">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="TituloProva">Titulo da prova</label>
                <input readonly class="form-control" id="tituloId" value="@Model.TituloProva">
            </div>

            <div class="form-group col-md-6">

                <div class="row">
                    <div class="col-md-4"><label for="DataProva">Data da Prova</label></div>
                    <div class="col-md-4"><label for="DataProva">Hora - Inicio</label></div>
                    <div class="col-md-4"><label for="DataProva">Hora - Final</label></div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <input readonly class="form-control" id="DataProva" type="date" value="@Model.DataProva">
                    </div>
                    <div class="col-md-4">
                        <input readonly class="form-control" id="HoraProvaInicio" type="time"  value="@Model.HoraInicio">
                    </div>
                    <div class="col-md-4">
                        <input readonly class="form-control" id="HoraProvaFinal" type="time" value="@Model.HoraFim">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="NotaMax">Nota máxima</label>
                <input class="form-control " id="NotaMax" type="number" name="ValorProva">
            </div>
            <div class="form-group col">
                <label for="DisciplinaProva">Curso</label>
                <select class="form-control" id="idCurso" name="Curso" size="1">
                    @{
                        <option value="0"> </option>
                        foreach (var item in ViewBag.Cursos)
                        {
                            <option value="@item.CursoId">@item.Descricao</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col">
                <label for="DisciplinaProva">Disciplina</label>
                <select class="form-control" id="idDisciplina" name="NomeDisciplina" size="1">
                    <option> </option>
                </select>
            </div>

            <div class="form-group col">
                <label for="TurmaProva">Turma</label>
                <select class="form-control" id="idTurma" name="NomeTurma" size="1">
                    <option> </option>
                </select>

            </div>
        </div>
        <br />
        <br />
        <div class="form-row">
            <div class="form-group col-md-6" id="mydiv">
                <label for="AssuntoProva">Assunto</label>
                <select class="selectpicker" multiple name="Assuntos" id="idAssuntoProva" style="width:250px;" tabindex="2">
                    <option> </option>

                </select>

            </div>


            <div class="form-group col-md-6">

                <div class="row">
                    <div class="col">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label" for="gridCheck">
                                        Tipo das Questões
                                    </label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label" for="gridCheck">Simples escolha</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <input class="form-control" id="IdQtSimplesEscolha" type="number" name="QtSimplesEscolha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label" for="gridCheck">
                                            Multipla escolha
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <input class="form-control" id="IdQtMultiplaEscolha" type="number" name="QtMultiplaEscolha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label" for="gridCheck">
                                            Verdadeira ou falso
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <input class="form-control" id="IdQtVerdadeirFalso" type="number" name="QtVerdadeirFalso">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">

                                        <label class="form-check-label" for="gridCheck">
                                            Dissertativa
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <input class="form-control" id="IdQtDissertativa" type="number" name="QtDissertativa">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <br />
        <br />
        <div class="form-row">
            <div class="form-group col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6 offset-md-4">
                        <label class="form-check-label" for="gridCheck">
                            Configuração da faixa de correto/incorreto:
                        </label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="Incorreto">Incorreto</label>

                        <div class="row">
                            <div class="col-md-5">
                                <input class="form-control" id="Incorreto1" type="text" value="0">
                            </div>
                            à
                            <div class="col-md-5">
                                <input class="form-control" id="Incorreto2" type="text" value="35">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="Revisar">Revisar</label>

                        <div class="row">
                            <div class="col-md-5">
                                <input class="form-control" id="Revisar1" type="text" value="36">
                            </div>
                            à
                            <div class="col-md-5">
                                <input class="form-control" id="Revisar2" type="text" value="70">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="Correto">Correto</label>

                        <div class="row">
                            <div class="col-md-5">
                                <input class="form-control" id="Correto1" type="text" value="71">
                            </div>
                            à
                            <div class="col-md-5">
                                <input class="form-control" id="Correto2" type="text" value="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <input id="btnConfirmar" type="submit" value="Gerar Questões" class="btn btn-default" />
</div>